.btn {
    width: 65px;
    height: 65px;
    margin: 4px 4px;
    cursor: pointer;
    border: 0px;
    border-radius: 50%;
}

.btn:hover {
    transform: scale(1.05);
}

/* -------------------------------- */

.operators {
    font-size: 35px;
    font-weight: 500;
    color: white;
    background: #f2a43c;
}
.operatorPosition{
    position: relative;
    bottom: 3.5px;
    left: 0.6px;
}
.clickedOperators {
    font-size: 35px;
    font-weight: 500;
    background: white;
    color: #f2a43c;
    transition: background 0.2s ease;
}

.operators:active {
    background: #f4c995;
}

/* -------------------------------- */

.numbers {
    font-size: 28px;
    font-weight: 800;
    color: white;
    background: #333333;
}

.numbers:active {
    background: #737373;
}

/* -------------------------------- */

.specials {
    font-size: 25px;
    font-weight: 1000;
    color: black;
    background: #a5a5a5;
}

.specials:active {
    background: #d9d9d9;
}

/* -------------------------------- */

.numberpad {
    width: 280px;
    height: 280px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: white;
}

.zero{
    grid-column: span 2;
    width: 138px;
    border-radius:50px;
}