.numberpad {
    width: 310px;
    height: 400px;
    display: grid;
    
    grid-template-columns: 75px 75px 75px 75px;
    grid-template-rows: 75px 75px 75px 75px;
    background-color: black;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: 00px 00px 00px 20px;    
}

/* -------------------------------- */

button {
    width: 65px;
    height: 65px;
    cursor: pointer;
    border: 0px;
    border-radius: 50%;
}

button:hover {
    transform: scale(1.05);
}

/* -------------------------------- */

.operators {
    font-size: 35px;
    font-weight: 500;
    color: white;
    background: #f2a43c;
}
.operatorPosition{
    position: relative;
    bottom: 3.5px;
    left: 0.6px;
}
.clickedOperators {
    font-size: 35px;
    font-weight: 500;
    background: white;
    color: #f2a43c;
    transition: background 0.2s ease;
}

.operators:active {
    background: #f4c995;
}

/* -------------------------------- */

.numbers {
    font-size: 28px;
    font-weight: 800;
    color: white;
    background: #333333;
}

.numbers:active {
    background: #737373;
}

/* -------------------------------- */

.specials {
    font-size: 25px;
    font-weight: 1000;
    color: black;
    background: #a5a5a5;
}

.specials:active {
    background: #d9d9d9;
}

/* -------------------------------- */

#zero{
    grid-column: span 2;
    width: 138px;
    border-radius:50px;
}